In [2]:
import pandas as pd

In [9]:
Intercitys = pd.read_csv('Intercitys.csv', delimiter = ';')
display(Intercitys)
Intercitys = Intercitys.head(3)
display(Intercitys)

,Route,Code,String
0,Amsterdam - Rotterdam via HSL,1000,"Asd,Ass,Asdl,Shl,Hfd,Rtd"
1,Den Haag C - Eindhoven,1100,"Gvc,Gv,Gvmw,Rsw,Dt,Dtcp,Sdm,Rtd,Rtb,Rtz,Rtst,R..."
2,Amsterdam C - Breda,900,"Asd,Ass,Asdl,Shl,Hfd,Rtd,Rtb,Rtz,Rtst,Rlb,Bdpb,Bd"
3,Amersfoort Schothorst - Schiphol,11600,"Amfs,Amf,Brn,Hvs,Hvsm,Bsmz,Ndb,Wp,Dmnz,Dvd,Rai..."
4,Amersfoort Schothorst - Den Haag,11700,"Amfs,Amf,Dld,Bhv,Uto,Ut,Utlr,Utt,Vtn,Wd,Gdg,Gd..."
5,Amsterdam - Deventer,1500,"Asd,Asdm,Assp,Dmn,Wp,Ndb,Bsmz,Hvsm,Hvs,Brn,Amf..."
6,Enschede - Schiphol,1600,"Es,Esk,Hgl,Bn,Amri,Aml,Wdn,Rsn,Hon,Dvc,Dv,Twl,..."
7,Enschede - Den Haag,1700,"Es,Esk,Hgl,Bn,Amri,Aml,Wdn,Rsn,Hon,Dvc,Dv,Twl,..."
8,Leeuwarden - Den Haag,1800,"Lw,Gw,Akm,Hr,Wv,Swk,Mp,Zl,Kpnz,Dron,Lls,Almo,A..."
9,Utrecht - Den Haag,2000,"Ut,Utlr,Utt,Vtn,Wd,Gdg,Gd,Llzm,Ztmo,Ztm,Ypb,Vb..."
10,Den Haag - Amsterdam,2100,"Gvc,Laa,Gvm,Vst,Dvnk,Ledn,Vh,Hil,Had,Hlm,Hlms,..."
11,Vlissingen - Amsterdam,2200,"Bd,Bdpb,Lzw,Ddrz,Ddr,Zwd,Brd,Rlb,Rtst,Rtz,Rtb,..."
12,Vlissingen - Amsterdam (snel),2300,"Bd,Bdpb,Lzw,Ddrz,Ddr,Zwd,Brd,Rlb,Rtst,Rtz,Rtb,..."
13,Lelystad - Dordrecht,2400,"Lls,Almo,Almb,Almp,Alm,Almm,Ampo,Wp,Dmnz,Dvd,R..."
14,Almere C - Amsterdam C,2600,"Alm,Almm,Ampo,Wp,Dmn,Assp,Asdm,Asd"
15,Utrecht C - Rotterdam C,2800,"Ut,Utlr,Utt,Vtn,Wd,Gdg,Gd,Nwk,Cps,Rta,Rtn,Rtd"
16,Enkhuizen - Maastricht,2900,"Ekz,Bkf,Bkg,Hks,Hnk,Hn,Pmo,Pm,Pmw,Zdk,Zd,Ass,A..."
17,Den Helder - Nijmegen,3000,"Hdr,Hdrz,Ana,Sgn,Hwd,Amrn,Amr,Hlo,Cas,Utg,Kma,..."
18,Schiphol - Nijmegen,3100,"Shl,Asdz,Rai,Asb,Ac,Bkl,Mas,Utz,Ut,Utvr,Bnk,Db..."
19,Rotterdam - Schiphol - Arnhem,3200,"Rtd,Sdm,Dtcp,Dt,Rsw,Gvmw,Gv,Laa,Gvm,Vst,Dvnk,L..."
20,Schiphol - Venlo,3500,"Shl,Asdz,Rai,Asb,Ac,Bkl,Mas,Utz,Ut,Utvr,Utl,Ht..."
21,Roosendaal - Zwolle,3600,"Vs,Vss,Mdb,Arn,Gs,Bzl,Krg,Kbd,Rb,Bgn,Rsd,Et,Bd..."
22,Dordrecht - Venlo,3700,"Ddr,Zwd,Brd,Rlb,Rtst,Rtz,Rtb,Rtd,Sdm,Dtcp,Dt,R..."
23,Enkhuizen - Heerlen,3900,"Ekz,Bkf,Bkg,Hks,Hnk,Hn,Pmo,Pm,Pmw,Zdk,Zd,Ass,A..."
24,Enkhuizen - Amsterdam (Spits),4500,"Ekz,Bkf,Bkg,Hks,Hnk,Hn,Pmo,Pm,Pmw,Zdk,Zd,Ass,Asd"
25,Groningen - Rotterdam C,500,"Gn,Gerp,Hrn,Asn,Bl,Hgv,Mp,Zl,Wz,Hde,Ns,Hd,Eml,..."
26,Leeuwarden - Rotterdam C,600,"Lw,Gw,Akm,Hr,Wv,Swk,Mp,Zl,Wz,Hde,Ns,Hd,Eml,Pt,..."
27,Groningen - Den Haag C,700,"Gn,Gerp,Hrn,Asn,Bl,Hgv,Mp,Zl,Kpnz,Dron,Lls,Alm..."
28,Den Helder - Maastricht,800,"Hdr,Hdrz,Ana,Sgn,Hwd,Amrn,Amr,Hlo,Cas,Utg,Kma,..."

,Route,Code,String
0,Amsterdam - Rotterdam via HSL,1000,"Asd,Ass,Asdl,Shl,Hfd,Rtd"
1,Den Haag C - Eindhoven,1100,"Gvc,Gv,Gvmw,Rsw,Dt,Dtcp,Sdm,Rtd,Rtb,Rtz,Rtst,R..."
2,Amsterdam C - Breda,900,"Asd,Ass,Asdl,Shl,Hfd,Rtd,Rtb,Rtz,Rtst,Rlb,Bdpb,Bd"

In [20]:
Intercitys.loc[0,'Code']
Intercitys.loc[0,'String'].split(',')

['Asd', 'Ass', 'Asdl', 'Shl', 'Hfd', 'Rtd']

In [39]:
dataframes_dict = {}
TrainServices = Intercitys.head(3)

for i in range(len(TrainServices)):
    a = TrainServices.loc[i,'String'].split(',')
    df = pd.DataFrame({'From':[],'To':[],'Seats':[]})
    for j in range(len(a) - 1):
        df.loc[j, 'From'] = a[j]
        df.loc[j, 'To'] = a[j + 1]
    dataframes_dict[TrainServices.loc[i,'Code']] = df

print(dataframes_dict)

{np.int64(1000):    From    To  Seats
0   Asd   Ass    NaN
1   Ass  Asdl    NaN
2  Asdl   Shl    NaN
3   Shl   Hfd    NaN
4   Hfd   Rtd    NaN, np.int64(1100):     From    To  Seats
0    Gvc    Gv    NaN
1     Gv  Gvmw    NaN
2   Gvmw   Rsw    NaN
3    Rsw    Dt    NaN
4     Dt  Dtcp    NaN
5   Dtcp   Sdm    NaN
6    Sdm   Rtd    NaN
7    Rtd   Rtb    NaN
8    Rtb   Rtz    NaN
9    Rtz  Rtst    NaN
10  Rtst   Rlb    NaN
11   Rlb  Bdpb    NaN
12  Bdpb    Bd    NaN
13    Bd    Gz    NaN
14    Gz   Tbr    NaN
15   Tbr   Tbu    NaN
16   Tbu    Tb    NaN
17    Tb    Ot    NaN
18    Ot   Btl    NaN
19   Btl   Bet    NaN
20   Bet   Ehs    NaN
21   Ehs   Ehv    NaN, np.int64(900):     From    To  Seats
0    Asd   Ass    NaN
1    Ass  Asdl    NaN
2   Asdl   Shl    NaN
3    Shl   Hfd    NaN
4    Hfd   Rtd    NaN
5    Rtd   Rtb    NaN
6    Rtb   Rtz    NaN
7    Rtz  Rtst    NaN
8   Rtst   Rlb    NaN
9    Rlb  Bdpb    NaN
10  Bdpb    Bd    NaN}

C:\Users\thijs\AppData\Local\Temp\ipykernel_45468\1805733084.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Asd' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[j, 'From'] = a[j]
C:\Users\thijs\AppData\Local\Temp\ipykernel_45468\1805733084.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Ass' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[j, 'To'] = a[j + 1]
C:\Users\thijs\AppData\Local\Temp\ipykernel_45468\1805733084.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Gvc' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[j, 'From'] = a[j]
C:\Users\thijs\AppData\Local\Temp\ipykernel_45468\1805733084.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Gv' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[j, 'To'] = a[j + 1]
C:\Users\thijs\AppData\Local\Temp\ipykernel_45468\1805733084.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Asd' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[j, 'From'] = a[j]
C:\Users\thijs\AppData\Local\Temp\ipykernel_45468\1805733084.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Ass' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[j, 'To'] = a[j + 1]

In [36]:
print(dataframes_dict[900])

    From    To  Seats
0    Asd   Ass    NaN
1    Ass  Asdl    NaN
2   Asdl   Shl    NaN
3    Shl   Hfd    NaN
4    Hfd   Rtd    NaN
5    Rtd   Rtb    NaN
6    Rtb   Rtz    NaN
7    Rtz  Rtst    NaN
8   Rtst   Rlb    NaN
9    Rlb  Bdpb    NaN
10  Bdpb    Bd    NaN

In [ ]:
for i in range(len(TravelData)):
    a = TravelData.loc[i, 'JourneyNumber']//100
    b = dataframes_dict[a]
    c = 0
    for j in range(len(b)):
        if TravelData.loc[i, 'UserStopCodeBegin'] == b.loc[j, 'From']:
            c = 1
        if c == 1:
            b.loc[j, 'Seats'] = TravelData.loc[i, 'Seats']
        if TravelData.loc[i, 'UserStopCodeEnd'] == b.loc[j, 'To']:
            break