In [2]:
import geopandas as gpd
import matplotlib.pyplot as plt
import requests
import pandas as pd
import urllib.request, json

In [26]:
#   NS Bron aanpassen
# Inladen CSV en toevoegen kolommen voor Stoelen en Bezette stoelen
TravelData = pd.read_csv('OC_NS_20240920.csv')
TravelData['Seats'] = 0
TravelData['Occupied Seats'] = 0

# Voor iedere treinserie het aantal stoelen toevoegen
for i in range(len(TravelData)):
    if TravelData.loc[i, 'VehicleType'] == "VIRM":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 100
    if TravelData.loc[i, 'VehicleType'] == "DDZ":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 100
    if TravelData.loc[i, 'VehicleType'] == "FLIRT FFF":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 53
    if TravelData.loc[i, 'VehicleType'] == "ICM":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 75
    if TravelData.loc[i, 'VehicleType'] == "ICNG25":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 52
    if TravelData.loc[i, 'VehicleType'] == "SLT":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 54
    if TravelData.loc[i, 'VehicleType'] == "SNG":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 50
    if TravelData.loc[i, 'VehicleType'] == "SW7-25KV":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 48
    if TravelData.loc[i, 'VehicleType'] == "SW9-25KV":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 48

# Maar 1 week behouden dus 3 dagen weghalen uit de tabel
TravelData['OperatingDay'] = pd.to_datetime(TravelData['OperatingDay'])
dates_to_exclude = pd.to_datetime(['2024-09-20', '2024-09-21', '2024-09-22'])
df_filtered = TravelData[~TravelData['OperatingDay'].isin(dates_to_exclude)]
TravelData = df_filtered.reset_index(drop=True)

#treincodes boven 700000 aanpassen
for i in range(len(TravelData)):
    if TravelData.loc[i, 'JourneyNumber'] > 700000:
        TravelData.loc[i, 'JourneyNumber'] -= 700000

#treincode tussen 200000 en 700000 aanpassen
for i in range(len(TravelData)):
    if 200000 < TravelData.loc[i, 'JourneyNumber'] < 700000:
        TravelData.loc[i, 'JourneyNumber'] -= 200000

display(TravelData)

,DataOwnerCode,OperatingDay,LinePlanningNumber,JourneyNumber,ReinforcementNumber,TimingLinkOrder,UserStopCodeBegin,UserStopCodeEnd,Occupancy,VehicleType,TotalNumberOfCoaches,Seats,Occupied Seats
0,NS,2024-09-29,NaN,6430,0,2,EHS,BET,2,FLIRT FFF,3,159,0
1,NS,2024-09-23,NaN,3328,0,2,LAA,GVM,2,SNG,8,400,0
2,NS,2024-09-23,NaN,3626,0,8,TB,HT,3,VIRM,8,800,0
3,NS,2024-09-26,NaN,7039,0,5,DVC,HON,2,SNG,3,150,0
4,NS,2024-09-29,NaN,5834,0,16,SHL,HFD,2,SLT,6,324,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209204,NS,2024-09-25,NaN,1824,0,6,LLS,ALM,3,DDZ,6,600,0
209205,NS,2024-09-24,NaN,6950,0,1,UT,UTLR,4,SLT,4,216,0
209206,NS,2024-09-29,NaN,5117,0,4,RSW,DT,2,SNG,4,200,0
209207,NS,2024-09-28,NaN,7078,0,3,APDO,APD,2,SNG,3,150,0
209208,NS,2024-09-25,NaN,5189,0,10,RTZ,RLB,3,SNG,3,150,0

In [27]:
#   Voor iedere treinserie een dataframe maken
#Inladen CSV met alle NS treindiensten
TrainServices = pd.read_csv('TrainServices.csv', delimiter = ';')

#Dictionary maken met per treinserie een dataframe met ieder stukje tussen stations er in
dataframes_dict = {}

TrainServices.loc[0,'Code']
TrainServices.loc[0,'String'].split(',')

for i in range(len(TrainServices)):
    a = TrainServices.loc[i,'String'].split(',')
    df = pd.DataFrame({'From':[],'To':[],'Seats':[]})
    for j in range(len(a) - 1):
        new_row = pd.DataFrame({'From': [a[j]], 'To': [a[j + 1]], 'Seats':[None]})
        df = pd.concat([df, new_row], ignore_index=True)
    dataframes_dict[TrainServices.loc[i,'Code']] = df

In [70]:
#for i in range(len(TravelData)):
#    if TravelData.loc[i, 'JourneyNumber'] % 2 != 0:
#TravelData = TravelData[TravelData['JourneyNumber'] % 2 != 0] 
for i in range(len(TravelData)):
    a = TravelData.loc[i, 'JourneyNumber']//100
    #print(a)
    c = 0
    for j in range(len(dataframes_dict[a*100])):
        if TravelData.loc[i, 'UserStopCodeBegin'] == dataframes_dict[a*100].loc[j, 'From'].upper():
            c = 1
        if c == 1:
            if dataframes_dict[a*100].loc[j, 'Seats'] == None:
                dataframes_dict[a*100].loc[j, 'Seats'] = TravelData.loc[i, 'Seats']
            else:
                dataframes_dict[a*100].loc[j, 'Seats'] += TravelData.loc[i, 'Seats']
        if TravelData.loc[i, 'UserStopCodeEnd'] == dataframes_dict[a*100].loc[j, 'To'].upper():
            break

In [75]:
print(dataframes_dict[6000])
#print(TravelData.loc[20, 'Seats'])
#print(dataframes_dict)

   From    To   Seats
0    Ut  Utvr   95364
1  Utvr   Utl  189432
2   Utl   Htn  189432
3   Htn  Htnc  378324
4  Htnc    Cl  378324
5    Cl   Gdm  378324
6   Gdm   Zbm  378324
7   Zbm    Ht  378108